dialog {
   padding: 0.625rem;
   /* display: flex; */
   flex-direction: column;
   align-items: center;
   /* opacity: .87; */
   position: relative;
}



#text-field {
   display: flex;
    flex-direction: column;
    padding: 0.625rem;
}

.list-container {
   margin: 0.4375rem;
   border: 0rem;
   transition: .5s;
   border-radius: 0.3125rem;
   padding: 0.3125rem;
   width: fit-content;
   position: fixed;
   z-index: 10;
   opacity: 1;
   top: 50%;
   left: 48%;
   color: wheat;
   box-shadow: 0.0625rem 0rem 0.3125rem -0.125rem #000000;
   transform: translate(-50%, -50%);
   background: linear-gradient(to left, #bababa, #dedede);
}

.list-container h3 {
   color: #ea7798;
    margin-bottom: 0.9375rem;
}

.textField {
margin: 0.625rem !important;
}



.MuiButton-root {
   margin: 0.625rem!important;
}

.MuiOutlinedInput-input {
   letter-spacing: initial !important;
}